html,
body {
  height: 100%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .h-20 {
    height: 5rem;
  }
}

.game-board {
  border-collapse: separate;
  border-spacing: 20px;
}

@media (min-width: 768px) {
  .game-board {
    border-spacing: 15px;
  }
}

.card--neutral {
  background-color: #444444;
  color: white;
}

.card--neutral_hoverable:hover {
  background-color: #666666;
}

.card--great {
  background-color: #540d6e;
  color: white;
}

.card--great_hoverable:hover {
  background-color: #875599;
}

.card--good {
  background-color: #3cb371;
  color: white;
}

.card--good_hoverable:hover {
  background-color: #8bbf8c;
}

.card--meh {
  background-color: #ffd23f;
}

.card--meh_hoverable:hover {
  background-color: #e5bd38;
}

.card--bad {
  background-color: #ee4266;
  color: white;
}

.card--bad_hoverable:hover {
  background-color: #d63b5b;
}
