html,
body {
  height: 100%;
}

.card--neutral {
  background-color: gray;
}

.card--great {
  background-color: purple;
  color: white;
}

.card--good {
  background-color: green;
  color: white;
}

.card--meh {
  background-color: yellow;
}

.card--bad {
  background-color: red;
  color: white;
}
